.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#map {
height: 100%;
}

.btn-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0 0;
  width: 100%;
}

.btn{
  padding:10px 24px;
  border:1px solid #c9c9c9;
  border-radius: 5px;
  cursor: pointer;
}

.info{
  text-align: center;
  margin:20px auto;
}